#list-hometasks {
    height: 100vh;
}
body {
    margin: 0;
    color: #001;
}
.fix {
  flex: auto 0 0;
}
.fill {
  flex: auto 1 1;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.align-center {
    align-items: center;
}
.main-center {
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}
.pad-all {
    padding: 8px;
}
.pad-item {
  padding: 8px 8px 0 8px;
}
.pad-item:last-child {
  padding-bottom: 8px;
}
.elem {
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: #eeeeee;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
}
.elem:hover {
    background-color: #e0e0e0;
}
.list {
    flex-grow: 4;
    align-items: center;
}
